<div class="container" id="fondoTamanio">
    <div class="modal-dialog m-5" id="fondoInicioSesion">
      <div class="modal-content">
        <h1 class="text-lg-center mt-5" id="exampleModalLabel"><strong>INTRODUCE TU CORREO ELECTRÓNICO
            DE RECUPERACIÓN DE LA CONTRASEÑA :</strong></h1>
        <form class="px-5 py-5" #forgotPasswordForm="ngForm">
          <div class="form-outline mb-4">
            <div class="input-group mb-5">
              <mat-form-field class="example-full-width">
                <input type="email" class="text-lg-center" matInput [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher" placeholder="CORREO ELECTRÓNICO">
                <mat-hint>Los errores apareceran al instante si existen!</mat-hint>
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  El email es <strong>requerido</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col text-end">
              <button type="submit" class="btn" id="botonesBlack" onclick="location.href='/'" [disabled]="(emailFormControl.hasError('email') || emailFormControl.hasError('required'))" mat-raised-button>SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
