#fondoPagina{
    background-color: #C4DBF0;
    border-radius: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#fotoEvento{
    width: 100%;
    border-radius: 5px;
}

#boton{
    background-color: #282828;
    color: #FFFFFF;
    margin-left: 5%;
    margin-top: 10%;
}