<footer class="container-fluid">
  <h2>Sobre nosotros</h2>
  <a href="https://www.whatsapp.com/?lang=es" target="_blank"><img src="assets\img\WhatsApp_logo.png" alt="Logo Whatsapp"></a>
  <a href="https://www.instagram.com/" target="_blank"><img src="assets\img\cd939-logo-instagram-png.webp" alt="Logo Instagram"></a>
  <img src="assets\img\Logo Runner.png" alt="Logo Runner">
  <a href="https://www.facebook.com/" target="_blank"><img src="assets\img\Facebook_f_logo_(2019).svg.png" alt="Logo Facebook"></a>
  <a href="https://www.pinterest.es/" target="_blank"><img src="assets\img\580b57fcd9996e24bc43c52e.png" alt="Logo Pinterest"></a>
</footer>
