#fondoInicioSesion {
    background-color: #C4DBF0;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#botonesBlack{
    background-color: #282828;
    color: #FFFFFF;
    width: 30%;
    height: 140%;
}

#botonesWhite{
    background-color: #FFFFFF;
    color: #282828;
    width: 30%;
    height: 140%;
}